*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7f2;
    color:#333;
}

header{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:2.8rem;
}

header p{
    margin-top:10px;
    font-size:1.2rem;
}

.hero{
    height:80vh;
    background:url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854")
    center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    background:rgba(0,0,0,0.6);
    color:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    max-width:800px;
}

.overlay h2{
    font-size:2.5rem;
    margin-bottom:15px;
}

.overlay p{
    font-size:1.1rem;
    line-height:1.7;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#4caf50;
    color:white;
    cursor:pointer;
    font-size:1rem;
    transition:0.3s;
}

button:hover{
    background:#2e7d32;
}

.conteudo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:60px 20px;
}

.card{
    background:white;
    width:320px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#2e7d32;
    margin-bottom:15px;
}

.impacto{
    text-align:center;
    background:#e8f5e9;
    padding:60px 20px;
}

.impacto h2{
    color:#1b5e20;
    margin-bottom:15px;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
  }
